simple_mail_transform/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Root">
		<xsd:sequence>
			<xsd:element name="mailing" type="Mailing" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Mailing">
	</xsd:complexType>

	<xsd:element name="root" type="Root"></xsd:element>

</xsd:schema>
